:root {
  --color-black: #000;
  --color-white: #fff;
  --color-red-1: #e61e25;
  --color-red-2: #b12025;
  --P-bowl-witdh: 5.25em;
  --logo-scale: 1;
  --shortcuts-delay: 0.5s;
  --shortcuts-step: 0.08s;
}

@media only screen and (max-width: 48em) {
  :root {
    --logo-scale: 0.7;
  }
}

@media only screen and (max-height: 48em) {
  :root {
    --logo-scale: 0.7;
  }
}

@media only screen and (max-width: 36em)  {
  :root {
    --logo-scale: 0.5;
  }
}

@media only screen and (max-height: 36em) {
  :root {
    --logo-scale: 0.5;
  }
}

html {
  height: 100%;
}

html:has(.iframe) {
  overflow: hidden;
}

body {
  font-family: 'Bebas Neue', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black);
  min-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  margin: 3em 1em;
}

.plexflix-logo {
  position: relative;
  width: calc(280px * var(--logo-scale));
  height: calc(420px * var(--logo-scale));
  overflow: hidden;
}

.plexflix-logo span {
  position: absolute;
  top: 0;
  width: calc(6em * var(--logo-scale));
  height: 100%;
  background: var(--color-white);
}

.plexflix-logo span:nth-child(1) {
  background: var(--color-red-2);
  left: 0;
}

.plexflix-logo span:nth-child(2) {
  position: relative;
  width: 100%;
  display: block;
  background: transparent;
}

.plexflix-logo span:nth-child(2):before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: calc(var(--P-bowl-witdh)* var(--logo-scale)) solid var(--color-red-1);
  width: calc(100% + var(--P-bowl-witdh));
  height: calc(16em * var(--logo-scale));
  right: 0;
  border-top-right-radius: calc(var(--P-bowl-witdh) * 2);
  border-bottom-right-radius: calc(var(--P-bowl-witdh) * 2);
}

.plexflix-logo::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100px;
  width: 100%;
  height: 120px;
  background: var(--color-black);
  z-index: 2;
  border-radius: 100% 100% 0 0;
  transform: scaleX(1.5);
}

.plexflix-logo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 400%;
  height: 100%;
  background: linear-gradient(to right, transparent, var(--color-black), var(--color-black));
  z-index: 3;
  animation: show 1.5s linear forwards;
}

.container h3 {
  position: relative;
  text-align: center;
  color: var(--color-white);
  font-size: calc(5rem * var(--logo-scale));
  text-transform: uppercase;
  letter-spacing: calc(10px * var(--logo-scale));
  overflow: hidden;
  animation: expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.app-shortcuts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25em;
}

.app-shortcuts button {
  display: flex;
  border-radius: 0.5em;
  border: 3px solid transparent;
  background-color: transparent;
  overflow: auto;
  opacity: 0;
  transform: translateY(20px);
  animation: appearAnimation 0.15s ease-in-out forwards;
}

.app-shortcuts button:hover {
  border-color: var(--color-red-2);
}

.app-shortcuts button:nth-child(1) {
  animation-delay: var(--shortcuts-delay);
}

.app-shortcuts button:nth-child(2) {
  animation-delay: calc(var(--shortcuts-delay) + var(--shortcuts-step) * 1);
}

.app-shortcuts button:nth-child(3) {
  animation-delay: calc(var(--shortcuts-delay) + var(--shortcuts-step) * 2);
}

.app-shortcuts button:nth-child(4) {
  animation-delay: calc(var(--shortcuts-delay) + var(--shortcuts-step) * 3);
}

.app-shortcuts button:nth-child(5) {
  animation-delay: calc(var(--shortcuts-delay) + var(--shortcuts-step) * 4);
}

.app-shortcuts button:nth-child(6) {
  animation-delay: calc(var(--shortcuts-delay) + var(--shortcuts-step) * 5);
}

.app-shortcuts button:nth-child(7) {
  animation-delay: calc(var(--shortcuts-delay) + var(--shortcuts-step) * 6);
}

.iframe {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  min-width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 999999;
  height: 100%;
  background-color: white;
}

.iframe-plex {
  background-color: #212121;
}

.iframe-overseerr {
  background-color: #111827;
}

.hidden {
  visibility: hidden;
}

@keyframes expand {
  0% {
    letter-spacing: -1ch;
    opacity: 0;
  }

  40% {
    opacity: .6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    right: 0;
  }

  100% {
    right: -400%;
  }
}

@keyframes appearAnimation {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
